$default_bg: #16161a;
$default_secondary_bg: #72757e;
$default_btn: #7f5af0;
$default_btn_text: #fffffe;
$default_stroke: #010101;
$default_font: 'Source Code Pro', mono space;
$nova_font: 'Nova Square', cursive;

%fancyBg {
  animation: fancy 8s steps(10) infinite;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  top: -100%;
  width: 300%;
}

body {
  background-color: $default_bg;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;

}

.container {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  background: $default_secondary_bg;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: all 1s ease-in-out;
  //&::before {
  //  @extend %fancyBg;
  //}
  &:hover > .container-bot {
    opacity: 1;
  }

  &:hover > .btn-ops{
    opacity: 1;
  }

  .title {
    position: absolute;
    top: 100px;
    left: -20px;
    color: $default_bg;
    //z-index: 99;
    font-size: clamp(50px, 10vw, 200px);
    font-family: $nova_font;
    font-weight: bold;
    transition: all 1s ease-in-out;
    overflow: hidden;

    //&::before {
    //  @extend %fancyBg;
    //}
  }
}

.btn-ops{
  position: absolute;
  right: 0;
  bottom: 150px;
  opacity: 0;
  display: none;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

%loading {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: $default_stroke;
}

input {
  font-family: $default_font;
  font-size: 15px;
  color: $default_stroke;
  height: 2em;
  padding: 5px;
  outline: 0;
  position: relative;
  width: min(400px, 50vw);
  z-index: 99;
}

button {
  font-size: 20px;
  font-family: $default_font;
  border: 0;
  outline: 0;
  background: $default_bg;
  color: $default_btn_text;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  z-index: 99;

  &:hover {
    color: $default_btn;
  }
}

.ap-nostyle-input-icon {
  display: none;
}

.ap-nostyle-dropdown-menu {
  width: min(412px, 50vw);
  border: none;
  left: 1px !important;

  &:last-child {
    display: none;
  }

  .ap-nostyle-suggestion {
    border-bottom: 1px solid black;
    font-family: $default_font;
    font-size: 15px;
    height: 2em;
    padding: 5px;
    outline: 0;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;


    &:nth-child(5) {
      border: none;
    }

    &:hover, &:focus {
      background: $default_secondary_bg;
      color: $default_btn_text;
    }
  }
}

.container-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  overflow-x: auto;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;

  &:hover {
    opacity: 1;
  }

  &:hover ~ .btn-ops{
    opacity: 1;
  }
}

.other-img-wrap {
  height: 150px;
  flex-direction: row;
  display: flex;

  .imgCard {
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;

    img {
      height: 130px;
      border-top: 5px solid transparent;
      transition: all 0.5s ease-in-out;

      &:hover {
        border-top: 5px solid black;
      }
    }

    .selected {
      border-top: 5px solid black;
    }

  }
}

.loading {
  @extend %loading;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-55%, -50%);
  display: none;

  &::before {
    @extend %loading;
    content: '';
    position: absolute;
    left: 15px;
    animation: jumps 0.5s ease infinite;
  }

  &::after {
    @extend %loading;
    content: '';
    position: absolute;
    left: -15px;
    animation: jumps 0.5s ease infinite;
    animation-delay: 0.25s;
  }
}

@keyframes jumps {
  0% {
    top: 0
  }
  50% {
    top: -5px
  }
  100% {
    top: 0
  }
}

@keyframes fancy {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.ap-footer {
  display: none !important;

  a {
    display: none !important;

    span {
      display: none !important;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
